.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.align-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important
}

.align-start {
  -webkit-box-align: start!important;
  -ms-flex-align: start!important;
  align-items: flex-start!important
}

.align-end {
  -webkit-box-align: end!important;
  -ms-flex-align: end!important;
  align-items: flex-end!important
}

.justify-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important
}

.justify-start {
  -webkit-box-pack: start!important;
  -ms-flex-pack: start!important;
  justify-content: flex-start!important
}

.justify-end {
  -webkit-box-pack: end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important
}

.justify-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important
}

.justify-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important
}

.justify-evenly {
  -webkit-box-pack: space-evenly!important;
  -ms-flex-pack: space-evenly!important;
  justify-content: space-evenly!important
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

.text-justify {
  text-align: justify
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}

.display-none {
  display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.pointer {
  cursor: pointer;
}
