// Theme Configurations
@use "@angular/material/" as mat;
@use "sass:map";
@import "./variables";
// @use "../shared/test" as banner;

@include mat.core();


$snx-theme: mat.define-light-theme(
  (
    color: (
      primary: $snx-primary,
      accent: $snx-accent,
      warn: $snx-warn,
    ),
  )
);

// $snx-theme: map.deep-merge(
//   $snx-theme,
//   (
//     success: $snx-success,
//     info: $snx-info,
//     color: (
//       success: $snx-success,
//       info: $snx-info,
//     ),
//   )
// );

@include mat.all-component-themes($snx-theme);
// @include banner.test-theme($snx-theme);
// @include root.app-root-theme($snx-theme);
