@use "@angular/material" as mat;

@mixin app-root-theme($theme) {
  $theme-colors: mat.get-color-config($theme);
  $backgrounds: map-get($theme-colors, background);

  app-root {
    app-dashboard-layout {
      display: block;
      background: mat.get-color-from-palette($backgrounds, background);
      min-height: 100vh;
    }
  }
}

:root {
  // Setting 1rem to 10px
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
}

// ********* Width Classes ****** //

$spaceamounts: (
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100
);

@each $space in $spaceamounts {
  .w-#{$space} {
    width: #{$space}#{'%'};
  }
}

// *********** Margin & Padding Classes *********** //

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @if $space == 0 {
    .m-0 {
      margin: 0 !important;
    }

    .p-0 {
      padding: 0 !important;
    }
  } @else {
    @each $side in $sides {
      .m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}


